export const cfg = {
    "api": {
        "ledgers": {
            "server": "http://localhost:8080",
            "baseUrl": "anchors",
        },
        "apikeys": {
            "server": "http://localhost:8081",
            "baseUrl": "apikeys",
        },
    },
};
